# NaznaOS - GRUB Configuration (Multiboot v1 Kernel) Copyright (c) 2026 NoahBajsToa
# SPDX-License-Identifier: MIT

set timeout=5
set default=0

menuentry "NaznaOS" {
    multiboot /boot/naznaos.bin
    boot
}
